<h1> Your Team's Assignments: </h1>

<ul>
  <% @assignments.each do |assignment| %>
    <li> <%= assignment.task.description %> -  <%= assignment.user.name %> (<%= assignment.task.list.title%>)</li>
  <% end %>
</ul>