<div class="container">
    <div class="row">
      <div class="col-sm-1 col-md-10 col-sm-1 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
          </div>
          <div class="text-center">

              <h1> <%= @user.name%>'s Assignments: </h1>

            <ul>
              <% @assignments.each do |assignment| %>
                <% assignment.verify_task %>
                  <li>
                  <%= assignment.task.description %> 
                  -  <%= assignment.user.name %> (<%= assignment.task.list.title unless assignment.task.list == nil%>)
                  </li>
              <% end %>
            </ul>
          </div>  
        <br>
        </div>
    </div>
</div>
