
/*
 *= require_tree .
 *= require_self
 */

$color-1: #f0efef; 
$color-2: #ddeedd;
$color-3: #c2d4dd;
$color-4: #b0aac0;
$color-5: #3b3a30;

/* $font-1: font-family: 'Amatic SC', cursive;
$font-2: font-family: 'Josefin Slab', serif; */

@import "bootstrap";


 .error-explanations, .alert {
     color: red;
 }

 body {
     background: $color-1;
     font-family: 'Advent Pro';font-size: 22px;
 }

 h1 {
    color: $color-5;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
 }

 h2, h3, h4 {
    color: $color-5;
    font-family: 'Amatic SC', cursive;
 }

 li {
     color: $color-5;
 }
  
.button__facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    text-shadow: 0 -1px 0 #354C8C;
    box-sizing: border-box;
    position: relative;
    width: 13em;  /* remove to not have fixed size */
    margin: 0.2em;
    padding: 0px 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}

 .navbar {
     background: $color-3;
     font-family: 'Amatic SC', cursive;
     font-weight: bold;
 }

 .navbar__link:hover {
    background: $color-2;
    color: $color-4;
    text-decoration: none;
 }


 
