
/*
 *= require_tree .
 *= require_self
 */

$color-1: #f0efef; 
$color-2: #ddeedd;
$color-3: #c2d4dd;
$color-4: #b0aac0;

@import "bootstrap";


 .error-explanations, .alert {
     color: red;
 }

 body {
     background: $color-1;
 }

 .navbar {
     background: $color-3;
 }

 .navbar__link:hover {
    background: $color-2;
    color: $color-4;

 }


 
